.Equal {
	width: 240px;
	border-radius: 4px;
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 4px;
}

.btn {
	border: none;
	background-color: var(--color-primary);
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
	color: var(--color-white);
}
