:root {
	--font-app: 'Inter', sans-serif;
	--color-primary: #5D5FEF;
	--color-secondary: #F3F4F6;
	--color-white: #fff;
	--text-color-secondary: #6B7280;
	--buttons-border-color: #E2E3E5;;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

